<section class = "justify-content-center m-5">
  <h1 class="text-center">Log in</h1>
  <%= form_for(:session, url: login_path, class: 'login-form') do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "Log in", class: "btn btn-primary my-2" %>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</section>