<aside>
  <div class="side-inner">
    <div class="logo-wrap">
      <div class="logo">
        <span>C</span>
      </div>
      <span class="logo-text">Chori</span>
    </div>
    <div class="search-form">
      <form action="#">
<span class="wrap-icon">
<span class="fas fa-search"></span>
</span>
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
    <div class="nav-menu">
      <ul>
        <li class="active">
          <%= link_to root_path, class: "d-flex align-items-center" do %>
            <span class="wrap-icon fas fa-home mr-3"></span><span class="menu-text">Home</span>
          <% end %>
        </li>
        <li>
          <% if logged_in? %>
            <%= link_to user_show_ingredients_user_path(current_user), class: "d-flex align-items-center" do %>
              <span class="wrap-icon fas fa-lemon mr-3"></span><span class="menu-text">My fridge</span>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to recipes_path, class: "d-flex align-items-center" do %>
            <span class="wrap-icon fas fa-book mr-3"></span><span class="menu-text">Browse recipes</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "d-flex align-items-center" do %>
            <span class="wrap-icon fas fa-shopping-cart mr-3"></span><span class="menu-text">Shopping list</span>
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: "d-flex align-items-center" do %>
            <span class="wrap-icon fas fa-chart-pie mr-3"></span><span class="menu-text">Users</span>
          <% end %>
        </li>
        <li>
          <a href="#" class="d-flex align-items-center"><span class="wrap-icon fas fa-cog mr-3"></span><span class="menu-text">Settings</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>